  p{
                color:orangered;
                 background-color:gray;
             }
 hl{
                 color:blue;
             }
.food{
    color:red;
}
.parson{
    color:blue;
}
.background-grey{
    background-color:blue;
}
#css-hl{
    color:yellow;
}