.li div{
	border: 1px solid black;
	padding: 10px;
	width: 100px;
}
.li{
	display: flex;
}
.li-1{
	flex: 1;
}
.li-2{
	flex: 1;
}
.li-3{
	flex: 1;
}

@keyframes color{
	0%{border:5px solid red;}
	20%{border: 5px solid  orange;}
	40%{border:5px solid yellow;}
	60%{border: 5px solid  green;}
	80%{border:5px solid blue;}
	100%{border: 5px solid  purple;}
}
.ave{
	border: 5px solid blue;
	animation-name: color;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
.ls div{
	 
 
 padding: 10px;
 width: 100px;
 
}
.ls{
	clear: both;
	vertical-align:middle; 
    font-size:14px;
	display: flex;
}
.ls-1{
	position: relative ;
	top: -45px;
	flex: 1;
}
.ls-2{
	position: relative;
	left: 65px;
	flex: 1;
}
.ls-3{
	
	flex: 1;
}
.sla{
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  transition: padding 1s 0s ease;
  background-color: 1s 1s;
}
.sla:hover{
  color:red;
 
  
}
*{
	margin: 0;
	padding: 0;
    list-style: none;
}
#menu_control{
	position: absolute;
	z-index: -2;
	opacity: 0;
}
.header{
	height: 50px;
	background-color: gray;
	position: relative;
}
.logo{
	width: 60px;
	height: 40px;
	margin-left: 10px;
}
.logo img{
   vertical-align: middle;
}
.menu_btn{
	width: 40px;
	height: 40px;
	background-color: #000;
    display: block;
	position: absolute;
	top:5px;
	right: 10px;
}
.menu_btn span{
	opacity: 0;
	width: 1px;
	display: block;
	overflow: hidden;
}
.menu_btn::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 36px;
	background-color: #aaa;
	top:0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 8px 0px #aaa,0px -8px 0px #aaa;
	
}
nav{	
	width: 80%;
	height: calc(100vh-50px);
	background-color: #282923;
	position: absolute;
	top:50px;
	left: -100%;
    transition: .5s;
}
nav a{
    display: block;
	text-decoration:none;
    color:#a6e22c;
	padding: 10px 20px;
	border-bottom: 1px solid #a6e22c;
}
#menu_control:checked ~ .header nav{
	left: 0;
}
@media screen and (min-width:768px){
	.menu_btn{display: none;}
	.header{
		display: flex;
		justify-content: space-between;
		background-color: #282923;
		align-items: center;
	}
.logo{
	}
	nav{
		position: relative;
		left: 0;
		display: flex;
		width: auto;
		height: auto;
		top:0;
		background-color: transparent;
	}
	nav a{
		border-bottom:  none;
	}
}
.logo a{
	    display: block;
		height: 40px;
	}
.logo img{
display: block;
}